@(
users: List[models.UserModel], messages: Map[String, String], currentUser: models.UserModel,
contacts: List[models.ContactModel], cards: List[models.BusinessCardModel]
)

@import helper._

@main(""){

<!doctype html>
<html class="fixed">
<head>

    @tableHeader()

</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        @adminLogo()

        <!-- start: search & user box -->
        <div class="header-right">

            @adminSearch()

            <span class="separator"></span>

            @adminNotifications(contacts, cards)

            <span class="separator"></span>

            @adminUser(currentUser)
        <!-- end: search & user box -->
        </div>
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        @adminNavigation()
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>All users</h2>

                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>All users</span></li>
                    </ol>

                    <a class="sidebar-right-toggle"> <!--data-open="sidebar-right"><i class="fa fa-chevron-left"></i>--></a>
                </div>
            </header>

            <!-- start: page -->
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                    </div>

                    <h2 class="panel-title">Available users</h2>
                    @if(messages.get("formDanger") != null){
                        <div class="alert alert-success" role="alert">@messages.get("formDanger")</div>
                    }
                    @if(messages.get("formWarning") != null){
                        <div class="alert alert-Warning" role="alert">@messages.get("formWarning")</div>
                    }
                    @if(messages.get("formSuccess") != null){
                        <div class="alert alert-success" role="alert">@messages.get("formSuccess")</div>
                    }
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th class="hidden-xs">Statuses</th>
                            <th class="hidden-xs">Available actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(user <- users){
                            <tr>
                                <td>@user.id</td>
                                <td>@user.email</td>
                                <td>
                                    @for(role <- user.roles){
                                        @role.name<br>
                                    }
                                </td>
                                <td class="center hidden-xs">
                                    @for(status <- user.statuses){
                                        @status.name<br>
                                    }
                                </td>
                                <td class="center hidden-xs">
                                    <a href="/user-admin/edit-user/@user.email" title="Edit user @user.email"><i class="fa fa-pencil"></i></a>
                                    <a href="/user-admin/delete-user/@user.email" title="Delete user @user.email"><i class="fa fa-close"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- end: page -->
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                    <div class="sidebar-widget widget-calendar">
                        <h6>Upcoming Tasks</h6>
                        <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                        <ul>
                            <li>
                                <time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
                                <span>Company Meeting</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget-friends">
                        <h6>Friends</h6>
                        <ul>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>
</section>

@tableFooter()
</body>
</html>
}