@(
user: models.core.UserModel, contacts: List[models.core.ContactModel], cards: List[models.core.BusinessCardModel],
page: models.core.PageModel, messages: Map[String, String], roles: Map[String, models.core.RoleModel],
statuses: Map[String, models.core.StatusModel], currentRoles: List[models.core.RoleModel],
currentStatuses: List[models.core.StatusModel]
)

@import helper._

@main(""){
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @formHeader()

</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        @adminLogo()

        <!-- start: search & user box -->
        <div class="header-right">

            @adminSearch()

            <span class="separator"></span>

            @adminNotifications(contacts, cards)

            <span class="separator"></span>

            @adminUser(user)

        </div>
    </header>
        <!-- end: search & user box -->
    <!-- end: header -->

    <div class="inner-wrapper">

        @adminNavigation()

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Current page @page.name</h2>
                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span><a href="/pages/get-all">Pages</a></span></li>
                        <li><span>Current page @page.name</span></li>
                    </ol>

                    <a class="sidebar-right-toggle"> <!--data-open="sidebar-right"--><!--<i class="fa fa-chevron-left"></i>--></a>
                </div>
            </header>

            <!-- start: page -->
            <div class="row">
                <div class="col-md-12">
                    @if(page != null){
                    <!--<form id="form" method="post" class="form-horizontal"> -->
                        @CSRF.formField
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div>

                                <h2 class="panel-title">Current page @page.name</h2>
                                <p class="panel-subtitle">
                                    Check page values.
                                </p>
                                @if(messages.get("formDanger") != null){
                                <div class="alert alert-danger" role="alert">
                                    @messages.get("formDanger")
                                </div>
                                }
                                @if(messages.get("formWarning") != null){
                                <div class="alert alert-warning" role="alert">
                                    @messages.get("formWarning")
                                </div>
                                }
                                @if(messages.get("formSuccess") != null){
                                <div class="alert alert-success" role="alert">
                                    @messages.get("formSuccess")
                                </div>
                                }
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Page @page.name name <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-envelope"></i>
													</span>
                                            <input type="text" name="name" class="form-control" placeholder="eg.: name"
                                                   required autocomplete="off" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("nameDanger") != null){
                                        <div class="alert alert-danger" role="alert">
                                            @messages.get("nameDanger")
                                        </div>
                                        }
                                        @if(messages.get("nameWarning") != null){
                                        <div class="alert alert-warning" role="alert">
                                            @messages.get("nameWarning")
                                        </div>
                                        }
                                        @if(messages.get("nameSuccess") != null){
                                        <div class="alert alert-success" role="alert">
                                            @messages.get("nameSuccess")
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Select roles <span class="required">*</span></label>
                                    <div class="col-sm-3">
                                        @for(role <- currentRoles){
                                            <div class="input-group">
                                                <div class="checkbox-custom checkbox-default">
                                                    @if(roles.get(role.name) != null){
                                                        <input name="@role.name" id="@role.name" type="checkbox"
                                                               value="@role.name" disabled checked>
                                                    } else {
                                                        <input name="@role.name" id="@role.name" type="checkbox"
                                                               value="@role.name" disabled>
                                                    }
                                                    <label for="@role.name">@role.name</label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <label class="col-sm-3 control-label">Select statuses <span class="required">*</span></label>
                                    <div class="col-sm-3">
                                        @for(status <- currentStatuses){
                                        <div class="input-group">
                                            @if(statuses.get(status.name) != null){
                                            <div class="checkbox-custom checkbox-default">
                                                <input name="@status.name" id="@status.name" type="checkbox"
                                                       value="@status.name" disabled checked>
                                                <label for="@status.name">@status.name</label>
                                            </div>
                                            } else {
                                                <div class="checkbox-custom checkbox-default">
                                                    <input name="@status.name" id="@status.name" type="checkbox"
                                                           value="@status.name" disabled>
                                                    <label for="@status.name">@status.name</label>
                                                </div>
                                            }
                                        </div>
                                        }
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("statusesDanger") != null){
                                        <div class="alert alert-danger" role="alert">
                                            @messages.get("statusesDanger")
                                        </div>
                                        }
                                        @if(messages.get("statusesWarning") != null){
                                        <div class="alert alert-warning" role="alert">
                                            @messages.get("statusesWarning")
                                        </div>
                                        }
                                        @if(messages.get("statusesSuccess") != null){
                                        <div class="alert alert-success" role="alert">
                                            @messages.get("statusesSuccess")
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button class="btn btn-primary" disabled>Check page</button>
                                        <button type="reset" class="btn btn-default" disabled>Reset form</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    <!--</form> -->
                    }
                </div>
            </div>
            div class="row">
            <div class="col-md-12">
                @if(page.pageContent != null){
                    @CSRF.formField
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div>

                                <h2 class="panel-title">Edit page content @page.name</h2>
                                <p class="panel-subtitle">
                                    You can edit page content with @page.name here.
                                </p>
                                @if(messages.get("pageContentFormDanger") != null){
                                <div class="alert alert-danger" role="alert">
                                    @messages.get("pageContentFormDanger")
                                </div>
                                }
                                @if(messages.get("pageContentFormWarning") != null){
                                <div class="alert alert-warning" role="alert">
                                    @messages.get("pageContentFormWarning")
                                </div>
                                }
                                @if(messages.get("pageContentFormSuccess") != null){
                                <div class="alert alert-success" role="alert">
                                    @messages.get("pageContentFormSuccess")
                                </div>
                                }
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Page title <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if(page.pageContent.title != null){
                                            <input type="text" name="title" class="form-control" placeholder="eg.: Title"
                                                   required autocomplete="off" value="@page.pageContent.title" disabled/>
                                            }else {
                                            <input type="text" name="title" class="form-control" placeholder="eg.: Title"
                                                   required autocomplete="off" disabled/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("titleDanger") != null){
                                        <div class="alert alert-danger" role="alert">
                                            @messages.get("titleDanger")
                                        </div>
                                        }
                                        @if(messages.get("titleWarning") != null){
                                        <div class="alert alert-warning" role="alert">
                                            @messages.get("titleWarning")
                                        </div>
                                        }
                                        @if(messages.get("titleSuccess") != null){
                                        <div class="alert alert-success" role="alert">
                                            @messages.get("titleSuccess")
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Page content <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if(page.pageContent.content != null){
                                                <textarea disabled class="form-control" rows="3" id="content" data-plugin-textarea-autosize="" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 74px;">@page.pageContent.content</textarea>
                                            }else {
                                                <textarea disabled class="form-control" rows="3" id="content" data-plugin-textarea-autosize="" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 74px;"></textarea>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("contentDanger") != null){
                                        <div class="alert alert-danger" role="alert">
                                            @messages.get("contentDanger")
                                        </div>
                                        }
                                        @if(messages.get("contentWarning") != null){
                                        <div class="alert alert-warning" role="alert">
                                            @messages.get("contentWarning")
                                        </div>
                                        }
                                        @if(messages.get("contentSuccess") != null){
                                        <div class="alert alert-success" role="alert">
                                            @messages.get("contentSuccess")
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button class="btn btn-primary" disabled>Create or update page content</button>
                                        <button type="reset" class="btn btn-default" disabled>Reset form</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    }
                </div>
            </div>
            <!-- end: page -->
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                    <div class="sidebar-widget widget-calendar">
                        <h6>Upcoming Tasks</h6>
                        <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                        <ul>
                            <li>
                                <time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
                                <span>Company Meeting</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget-friends">
                        <h6>Friends</h6>
                        <ul>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>
</section>

@formFooter()

</body>
</html>
}