@(
user: models.UserModel, messages: Map[String, String], contacts: List[models.ContactModel],
cards: List[models.BusinessCardModel], card: models.BusinessCardModel
)

@import helper._

@(""){
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @formHeader()

</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        @adminLogo()

        <!-- start: search & user box -->
        <div class="header-right">

            @adminSearch()

            <span class="separator"></span>

            @adminNotifications(contacts, cards)

            <span class="separator"></span>

            @adminUser(user)

            <!-- end: search & user box -->
        </div>
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">

        @adminNavigation()

        <section role="main" class="content-body">
            <header class="page-header">
                @if((card != null) && (card.firstname != null) && (card.lastname != null)){
                    <h2>Business card @card.firstname @card.lastname</h2>
                } else {
                    <h2>Business card</h2>
                }
                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>Business card</span></li>
                        @if((card != null) && (card.firstname != null) && (card.lastname != null)){
                            <li><span>Business card @card.firstname @card.lastname</span></li>
                        } else {
                            <li><span>Business @card.firstname @card.lastname</span></li>
                        }
                    </ol>

                    <a class="sidebar-right-toggle"> <!--data-open="sidebar-right"--><!--<i class="fa fa-chevron-left"></i>--></a>
                </div>
            </header>

            <!-- start: page -->
            <div class="row">
                <div class="col-md-12">

                        @CSRF.formField
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div>

                                <h2 class="panel-title">Business card</h2>
                                <p class="panel-subtitle">
                                    Current business card
                                </p>
                                @if(messages.get("formDanger") != null){
                                    <div class="alert alert-danger" role="alert">
                                        @messages.get("formDanger")
                                    </div>
                                }
                                @if(messages.get("formWarning") != null){
                                    <div class="alert alert-warning" role="alert">
                                        @messages.get("formWarning")
                                    </div>
                                }
                                @if(messages.get("formSuccess") != null){
                                    <div class="alert alert-success" role="alert">
                                        @messages.get("formSuccess")
                                    </div>
                                }
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Firstname <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            <input type="text" name="firstname" class="form-control" placeholder=""
                                                   required autocomplete="off" value="@card.firstname" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("firstnameDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("firstnameDanger")
                                            </div>
                                        }
                                        @if(messages.get("firstnameWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("firstnameWarning")
                                            </div>
                                        }
                                        @if(messages.get("firstnameSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("firstnameSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Lastname <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            <input type="text" name="lastname" class="form-control" placeholder=""
                                                   required autocomplete="off" value="@card.lastname" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("lastnameDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("lastnameDanger")
                                            </div>
                                        }
                                        @if(messages.get("lastnameWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("lastnameWarning")
                                            </div>
                                        }
                                        @if(messages.get("lastnameSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("lastnameSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">E-mail <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            <input type="email" name="email" class="form-control" placeholder=""
                                                   required autocomplete="off" value="@card.email" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("emailDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("emailDanger")
                                            </div>
                                        }
                                        @if(messages.get("emailWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("emailWarning")
                                            </div>
                                        }
                                        @if(messages.get("emailSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("emailSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Phone number <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            <input type="text" name="phone" class="form-control" placeholder=""
                                                   required autocomplete="off" value="@card.phone" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("phoneDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("phoneDanger")
                                            </div>
                                        }
                                        @if(messages.get("phoneWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("phoneWarning")
                                            </div>
                                        }
                                        @if(messages.get("phoneSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("phoneSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Company <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            <input type="text" name="company" class="form-control" placeholder=""
                                                   required autocomplete="off" value="@card.company" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("companyDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("companyDanger")
                                            </div>
                                        }
                                        @if(messages.get("companyWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("companyWarning")
                                            </div>
                                        }
                                        @if(messages.get("companySuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("companySuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Address <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            <input type="text" name="address" class="form-control" placeholder=""
                                                   required autocomplete="off" value="@card.address" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("addressDanger") != null){
                                        <div class="alert alert-danger" role="alert">
                                            @messages.get("addressDanger")
                                        </div>
                                        }
                                        @if(messages.get("addressWarning") != null){
                                        <div class="alert alert-warning" role="alert">
                                            @messages.get("addressWarning")
                                        </div>
                                        }
                                        @if(messages.get("addressSuccess") != null){
                                        <div class="alert alert-success" role="alert">
                                            @messages.get("addressSuccess")
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button class="btn btn-primary">Save changes</button>
                                        <button type="reset" class="btn btn-default">Reset form</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </form>
                </div>
            </div>
            <!-- end: page -->
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                    <div class="sidebar-widget widget-calendar">
                        <h6>Upcoming Tasks</h6>
                        <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                        <ul>
                            <li>
                                <time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
                                <span>Company Meeting</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget-friends">
                        <h6>Friends</h6>
                        <ul>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>
</section>

@formFooter()

</body>
</html>
}