@(
messages: Map[String, String]
)

@import helper._

@main(""){
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		@accessHeader()

	</head>
	<body>
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="/" class="logo pull-left">
					<img src="@routes.Assets.versioned("admin/images/logo.png")" height="54" alt="SilenceCRM" />
				</a>

				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Remind your password</h2>
					</div>
					<div class="panel-body">
						<form method="post" action="/user/remind-password" role="form">
						    @CSRF.formField
						    @if(messages.get("formDanger") != null){
                                <div class="row">
                                    <div class="col-xs-12 alert alert-danger">
                                        @messages.get("formDanger")
                                    </div>
                                </div>
                            }
                            @if(messages.get("formWarning") != null){
                                <div class="row">
                                    <div class="col-xs-12 alert alert-warning">
                                        @messages.get("formWarning")
                                    </div>
                                </div>
                            }
                            @if(messages.get("formSuccess") != null){
                                <div class="row">
                                    <div class="col-xs-12 alert alert-success">
                                        @messages.get("formSuccess")
                                    </div>
                                </div>
                            }
							<div class="form-group mb-lg">
								<label>E-mail</label>
								@if(messages.get("emailDanger") != null){
                                    <div class="alert alert-danger" role="alert">
                                        @messages.get("emailDanger")
                                    </div>
                                }
                                @if(messages.get("emailWarning") != null){
                                    <div class="alert alert-danger" role="alert">
                                        @messages.get("emailWarning")
                                    </div>
                                }
                                @if(messages.get("emailSuccess") != null){
                                    <div class="aler alert-success" role="alert">
                                        @messages.get("emailSuccess")
                                    </div>
                                }
								<div class="input-group input-group-icon">
									<input name="email" type="email" class="form-control input-lg" required autofocus
									autocomplete="off" />
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-envelope"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row form-group mb-lg">
								<div class="col-sm-12 text-right">
									<button type="submit" class="form-control btn btn-primary hidden-xs">Forgot password</button>
									<button type="submit" class="form-control btn btn-primary btn-block btn-lg visible-xs mt-lg">Forgot password</button>
								</div>
							</div>

							<span class="mt-lg mb-lg line-thru text-center text-uppercase">
								<span>or</span>
							</span>

							<div class="mb-xs text-center">
								<a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
								<a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
							</div>

							<p class="text-center">Don't have an account yet?  <a href="/user/register-new-account">Sign Up!</a></p>

						</form>
					</div>
				</div>

				@version()
			</div>
		</section>
		<!-- end: page -->

		@accessFooter()

	</body>
</html>

}