@(
user: models.core.UserModel, messages: Map[String, String], contacts: List[models.core.ContactModel],
cards: List[models.core.BusinessCardModel]
)

@import helper._

@main(""){
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @formHeader()

</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        @adminLogo()

        <!-- start: search & user box -->
        <div class="header-right">

            @adminSearch()

            <span class="separator"></span>

            @adminNotifications(contacts, cards)

            <span class="separator"></span>

            @adminUser(user)

        <!-- end: search & user box -->
        </div>
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">

        @adminNavigation()

        <section role="main" class="content-body">
            <header class="page-header">
                @if(user != null){
                    <h2>User profile @user.email</h2>
                } else {
                    <h2>User</h2>
                }
                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>User</span></li>
                        @if(user != null){
                            <li><span>User profile @user.email</span></li>
                        } else {
                            <li><span>User profile</span></li>
                        }
                    </ol>

                    <a class="sidebar-right-toggle" <!--data-open="sidebar-right"--><!--<i class="fa fa-chevron-left"></i>--></a>
                </div>
            </header>

            <!-- start: page -->
            <div class="row">
                <div class="col-md-12">
                    @if(user.userProfile == null){
                        <form id="form" method="post" action="/user/profile/create-profile" class="form-horizontal">
                    }else {
                        <form id="form" method="post" action="/user/profile/update-profile" class="form-horizontal">
                    }
                        @CSRF.formField
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div>

                                <h2 class="panel-title">Update your profile</h2>
                                <p class="panel-subtitle">
                                    You can update your profile here.
                                </p>
                                @if(messages.get("formDanger") != null){
                                    <div class="alert alert-danger" role="alert">
                                        @messages.get("formDanger")
                                    </div>
                                }
                                @if(messages.get("formWarning") != null){
                                    <div class="alert alert-warning" role="alert">
                                        @messages.get("formWarning")
                                    </div>
                                }
                                @if(messages.get("formSuccess") != null){
                                    <div class="alert alert-success" role="alert">
                                        @messages.get("formSuccess")
                                    </div>
                                }
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Firstname <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.userProfile != null) && (user.userProfile.firstname)){
                                                <input type="text" name="firstname" class="form-control" required autocomplete="off" value="@user.userProfile.firstname"/>
                                            }else {
                                                <input type="text" name="firstname" class="form-control" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("profileFormDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("profileFormDanger")
                                            </div>
                                        }
                                        @if(messages.get("firstnameWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("profileFormWarning")
                                            </div>
                                        }
                                        @if(messages.get("firstnameSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("firstnameSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Lastname <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.userProfile != null) && (user.userProfile.lastname)){
                                                <input type="text" name="lastname" class="form-control" required autocomplete="off" value="@user.userProfile.lastname"/>
                                            } else {
                                                <input type="text" name="lastname" class="form-control" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("lastnameDanger") != null){
                                        <div class="alert alert-danger" role="alert">
                                            @messages.get("lastnameDanger")
                                        </div>
                                        }
                                        @if(messages.get("lastnameWarning") != null){
                                        <div class="alert alert-warning" role="alert">
                                            @messages.get("lastnameWarning")
                                        </div>
                                        }
                                        @if(messages.get("lastnameSuccess") != null){
                                        <div class="alert alert-success" role="alert">
                                            @messages.get("lastnameSuccess")
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Biography <span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.userProfile != null) && (user.userProfile.biography)){
                                                <textarea name="biography" class="form-control" rows="3" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 74px;">@user.userProfile.biography</textarea>
                                            } else {
                                                <textarea name="biography" class="form-control" rows="3" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 74px;"></textarea>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("lastnameDanger") != null){
                                        <div class="alert alert-danger" role="alert">
                                            @messages.get("lastnameDanger")
                                        </div>
                                        }
                                        @if(messages.get("lastnameWarning") != null){
                                        <div class="alert alert-warning" role="alert">
                                            @messages.get("lastnameWarning")
                                        </div>
                                        }
                                        @if(messages.get("lastnameSuccess") != null){
                                        <div class="alert alert-success" role="alert">
                                            @messages.get("lastnameSuccess")
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button class="btn btn-primary">Update your profile</button>
                                        <button type="reset" class="btn btn-default">Reset form</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @if(user.userProfilePhoto != null){
                        <form class="form-horizontal form-bordered" method="post" action="/user/profile/create-profile-photo" enctype="multipart/form-data">
                    }else {
                        <form class="form-horizontal form-bordered" method="post" action="/user/profile/create-profile-photo" enctype="multipart/form-data">
                    }
                        @CSRF.formField
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div>
                                <h2 class="panel-title">Profile photo</h2>
                            </header>
                            <div class="panel-body">
                                @if(messages.get("photoFormDanger") != null) {
                                    <div class="alerr alert-danger" role="alert">
                                        @messages.get("photoFormDanger")
                                    </div>
                                }
                                @if(messages.get("photoFormWarning") != null) {
                                    <div class="alerr alert-warning" role="alert">
                                        @messages.get("photoFormWarning")
                                    </div>
                                }
                                @if(messages.get("photoFormSuccess") != null) {
                                    <div class="alerr alert-success" role="alert">
                                        @messages.get("photoFormSuccess")
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="picture">Picture</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
										    <span class="input-group-addon">
											    <span class="icon"><i class="fa fa-user"></i></span>
											</span>
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="input-append">
                                                    <div class="uneditable-input">
                                                        <i class="fa fa-file fileupload-exists"></i>
                                                        <span class="fileupload-preview"></span>
                                                    </div>
                                                    <span class="btn btn-default btn-file">
																<span class="fileupload-exists">Change</span>
																<span class="fileupload-new">Select file</span>
																<input type="file" name="picture" id="picture" required>
															</span>
                                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button class="btn btn-primary">Change Your Profile Photo</button>
                                        <button type="reset" class="btn btn-default">Reset form</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </form>
                </div>
            </div>
            <!-- end: page -->
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                    <div class="sidebar-widget widget-calendar">
                        <h6>Upcoming Tasks</h6>
                        <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                        <ul>
                            <li>
                                <time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
                                <span>Company Meeting</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget-friends">
                        <h6>Friends</h6>
                        <ul>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>
</section>

@formFooter()

</body>
</html>
}