@(
user: models.core.UserModel, messages: Map[String, String], contacts: List[models.core.ContactModel],
cards: List[models.core.BusinessCardModel]
)

@import helper._

@(""){
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @formHeader()

</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        @adminLogo()

        <!-- start: search & user box -->
        <div class="header-right">

            @adminSearch()

            <span class="separator"></span>

            @adminNotifications(contacts, cards)

            <span class="separator"></span>

            @adminUser(user)

            <!-- end: search & user box -->
        </div>
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">

        @adminNavigation()

        <section role="main" class="content-body">
            <header class="page-header">
                @if((user.company != null) && (user.company.name != null)){
                    <h2>Update your company @user.company.name</h2>
                } else {
                    <h2>Update your company</h2>
                }
                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>Company</span></li>
                        @if((user.company != null) && (user.company.name != null)){
                            <li><span>Company user.company.name</span></li>
                        } else {
                            <li><span>Company</span></li>
                        }
                    </ol>

                    <a class="sidebar-right-toggle"> <!--data-open="sidebar-right"--><!--<i class="fa fa-chevron-left"></i>--></a>
                </div>
            </header>

            <!-- start: page -->
            <div class="row">
                <div class="col-md-12">
                    @if(user.company != null){
                        <form id="form" method="post" action="/company/update-company" class="form-horizontal">
                    } else {
                            <form id="form" method="post" action="/company/create-new-company" class="form-horizontal">
                    }
                        @CSRF.formField
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                </div>

                                <h2 class="panel-title">Your company</h2>
                                <p class="panel-subtitle">
                                    You can update your company here.
                                </p>
                                @if(messages.get("formDanger") != null){
                                    <div class="alert alert-danger" role="alert">
                                        @messages.get("formDanger")
                                    </div>
                                }
                                @if(messages.get("formWarning") != null){
                                    <div class="alert alert-warning" role="alert">
                                        @messages.get("formWarning")
                                    </div>
                                }
                                @if(messages.get("formSuccess") != null){
                                    <div class="alert alert-success" role="alert">
                                        @messages.get("formSuccess")
                                    </div>
                                }
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    @if((user.company != null) && (user.company.name != null)){
                                        <label class="col-sm-3 control-label">Company name @user.company.name <span class="required">*</span></label>
                                    } else {
                                        <label class="col-sm-3 control-label">Company name<span class="required">*</span></label>
                                    }
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.company != null) && (user.company.name != null)){
                                                <input type="text" name="name" class="form-control" placeholder="" required autocomplete="off"
                                                       value="@user.company.name"/>
                                            }else {
                                                <input type="text" name="name" class="form-control" placeholder="" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("nameDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("nameDanger")
                                            </div>
                                        }
                                        @if(messages.get("nameWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("nameWarning")
                                            </div>
                                        }
                                        @if(messages.get("nameSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("nameSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if((user.company != null) && (user.company.name != null)){
                                        <label class="col-sm-3 control-label">Company law form @user.company.name <span class="required">*</span></label>
                                    } else {
                                        <label class="col-sm-3 control-label">Company law form<span class="required">*</span></label>
                                    }
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.company != null) && (user.company.lawForm != null)){
                                                <input type="text" name="lawForm" class="form-control" placeholder="" required autocomplete="off"
                                                       value="@user.company.lawForm"/>
                                            }else {
                                                <input type="text" name="lawForm" class="form-control" placeholder="" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("lawFormDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("lawFormDanger")
                                            </div>
                                        }
                                        @if(messages.get("lawFormWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("lawFormWarning")
                                            </div>
                                        }
                                        @if(messages.get("lawFormSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("lawFormSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if((user.company != null) && (user.company.name != null)){
                                    <label class="col-sm-3 control-label">Company tax number @user.company.name <span class="required">*</span></label>
                                    } else {
                                    <label class="col-sm-3 control-label">Company tax number<span class="required">*</span></label>
                                    }
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.company != null) && (user.company.taxNumber != null)){
                                                <input type="text" name="taxNumber" class="form-control" placeholder="" required autocomplete="off"
                                                    value="@user.company.taxNumber"/>
                                            }else {
                                            <input type="text" name="taxNumber" class="form-control" placeholder="" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("taxNumberDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("taxNumberDanger")
                                            </div>
                                        }
                                        @if(messages.get("taxNumberWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("taxNumberWarning")
                                            </div>
                                        }
                                        @if(messages.get("taxNumberSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("taxNumberSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if((user.company != null) && (user.company.name != null)){
                                        <label class="col-sm-3 control-label">Company street address @user.company.name<span class="required">*</span></label>
                                    } else {
                                        <label class="col-sm-3 control-label">Company street address<span class="required">*</span></label>
                                    }
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.company != null) && (user.company.street != null)){
                                                <input type="text" name="street" class="form-control" placeholder="" required autocomplete="off"
                                                   value="@user.company.street"/>
                                            }else {
                                                <input type="text" name="street" class="form-control" placeholder="" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("streetDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("streetDanger")
                                            </div>
                                        }
                                        @if(messages.get("streetWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("streetWarning")
                                            </div>
                                        }
                                        @if(messages.get("streetSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("streetSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if((user.company != null) && (user.company.name != null)){
                                        <label class="col-sm-3 control-label">Company city @user.company.name<span class="required">*</span></label>
                                    } else {
                                        <label class="col-sm-3 control-label">Company city<span class="required">*</span></label>
                                    }
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.company != null) && (user.company.city != null)){
                                                <input type="text" name="city" class="form-control" placeholder="" required autocomplete="off"
                                                       value="@user.company.city"/>
                                            }else {
                                                <input type="text" name="city" class="form-control" placeholder="" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("cityDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("cityDanger")
                                            </div>
                                        }
                                        @if(messages.get("cityWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("cityWarning")
                                            </div>
                                        }
                                        @if(messages.get("citySuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("citySuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if((user.company != null) && (user.company.name != null)){
                                        <label class="col-sm-3 control-label">Company country @user.company.name<span class="required">*</span></label>
                                    } else {
                                        <label class="col-sm-3 control-label">Company country<span class="required">*</span></label>
                                    }
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.company != null) && (user.company.country != null)){
                                                <input type="text" name="country" class="form-control" placeholder="" required autocomplete="off"
                                                       value="@user.company.country"/>
                                            }else {
                                                <input type="text" name="country" class="form-control" placeholder="" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("countryDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("countryDanger")
                                            </div>
                                        }
                                        @if(messages.get("countryWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("countryWarning")
                                            </div>
                                        }
                                        @if(messages.get("countrySuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("countrySuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if((user.company != null) && (user.company.name != null)){
                                        <label class="col-sm-3 control-label">Company postal code @user.company.name<span class="required">*</span></label>
                                    } else {
                                    <label class="col-sm-3 control-label">Company postal code <span class="required">*</span></label>
                                    }
                                    <div class="col-sm-9">
                                        <div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user"></i>
													</span>
                                            @if((user.company != null) && (user.company.postalCode != null)){
                                                <input type="text" name="postalCode" class="form-control" placeholder="" required autocomplete="off"
                                                       value="@user.company.postalCode"/>
                                            }else {
                                                <input type="text" name="postalCode" class="form-control" placeholder="" required autocomplete="off"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        @if(messages.get("postalCodeDanger") != null){
                                            <div class="alert alert-danger" role="alert">
                                                @messages.get("postalCodeDanger")
                                            </div>
                                        }
                                        @if(messages.get("postalCodeWarning") != null){
                                            <div class="alert alert-warning" role="alert">
                                                @messages.get("countryWarning")
                                            </div>
                                        }
                                        @if(messages.get("postalCodeSuccess") != null){
                                            <div class="alert alert-success" role="alert">
                                                @messages.get("postalCodeSuccess")
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button class="btn btn-primary">Save changes</button>
                                        <button type="reset" class="btn btn-default">Reset form</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </form>
                </div>
            </div>
            <!-- end: page -->
        </section>
    </div>

    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                    <div class="sidebar-widget widget-calendar">
                        <h6>Upcoming Tasks</h6>
                        <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                        <ul>
                            <li>
                                <time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
                                <span>Company Meeting</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget-friends">
                        <h6>Friends</h6>
                        <ul>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>
</section>

@formFooter()

</body>
</html>
}