@(danger: String, warning: String, success: String )

@import helper._

@main(""){

<!doctype html>
    <html class="fixed">
        <head>

                <!-- Basic -->
            <meta charset="UTF-8">
            <title>soc4you.com - Zaloguj się</title>
            <meta name="keywords" content="seo, cms, crm, social media, company, firma" />
            <meta name="description" content="Pierwszy system do całościowej obsługi Twojego startupu.">
            <meta name="author" content="SilenceOnTheWire">

                <!-- Mobile Metas -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

                <!-- Web Fonts  -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

                <!-- Vendor CSS -->
            <link rel="stylesheet" href="@routes.Assets.versioned("backend/vendor/bootstrap/css/bootstrap.css")" />

            <link rel="stylesheet" href="@routes.Assets.versioned("backend/vendor/font-awesome/css/font-awesome.css")" />
            <link rel="stylesheet" href="@routes.Assets.versioned("backend/vendor/magnific-popup/magnific-popup.css")" />
            <link rel="stylesheet" href="@routes.Assets.versioned("backend/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css")" />

                <!-- Theme CSS -->
            <link rel="stylesheet" href="@routes.Assets.versioned("backend/stylesheets/theme.css")" />

                <!-- Skin CSS -->
            <link rel="stylesheet" href="@routes.Assets.versioned("backend/stylesheets/skins/default.css")" />

                <!-- Theme Custom CSS -->
            <link rel="stylesheet" href="@routes.Assets.versioned("backend/stylesheets/theme-custom.css")">

                <!-- Head Libs -->
            <script src="@routes.Assets.versioned("backend/vendor/modernizr/modernizr.js")"></script>

        </head>
        <body>
                <!-- start: page -->
            <section class="body-sign">
                <div class="center-sign">
                    <a href="/" class="logo pull-left">
                        <img src="@routes.Assets.versioned("backend/images/logo.png")" height="54" alt="Soc4You" />
                    </a>

                    <div class="panel panel-sign">
                        <div class="panel-title-sign mt-xl text-right">
                            <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Zaloguj się</h2>
                        </div>
                        <div class="panel-body">
                            @if(danger != null){
                                <p class="alert alert-danger" role="alert" id="formDanger">@danger</p>
                            }
                            @if(warning != null){
                                <p class="alert alert-warning" role="alert" id="formWarning">@warning</p>
                            }
                            @if(success != null){
                                <p class="alert alert-success" role="alert" id="formSuccess">@success</p>
                            }
                            <form action="/signIn" method="post" role="form">
                                @CSRF.formField
                                <div class="form-group mb-lg">
                                    <label>Adres e-mail</label>
                                    <div class="input-group input-group-icon">
                                        <input name="email" type="email" id="userEmail" class="form-control input-lg" autocomplete="off" required autofocus />
                                        <span class="input-group-addon">
                                            <span class="icon icon-lg">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group mb-lg">
                                    <div class="clearfix">
                                        <label class="pull-left">Wprowadź hasło</label>
                                        <a href="/forgot" class="pull-right">Nie pamiętasz hasła?</a>
                                    </div>
                                    <div class="input-group input-group-icon">
                                        <input name="password" id="userPassword" type="password" class="form-control input-lg" autocomplete="off" autofocus required />
                                        <span class="input-group-addon">
                                            <span class="icon icon-lg">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="checkbox-custom checkbox-default">
                                            <input id="rememberMe" name="remeberMe" type="checkbox" autocomplete="on" autofocus/>
                                            <label for="remeberMe">Zapamiętaj mnie</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <button type="submit" class="btn btn-primary hidden-xs">Zaloguj się</button>
                                        <button type="submit" id="submitSignInForm" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Zaloguj się</button>
                                    </div>
                                </div>

                                <span class="mt-lg mb-lg line-thru text-center text-uppercase">
                                    <span>lub</span>
                                </span>

                                <div class="mb-xs text-center">
                                    <a class="btn btn-facebook mb-md ml-xs mr-xs">Połącz z <i class="fa fa-facebook"></i></a>
                                    <a class="btn btn-twitter mb-md ml-xs mr-xs">Połącz z <i class="fa fa-twitter"></i></a>
                                </div>

                                <p class="text-center">Nie posiadasz konta? <a href="/signup">Tutaj możesz je założyć.</a></p>

                            </form>
                        </div>
                    </div>

                    <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016. All Rights Reserved.</p>
                </div>
            </section>
                <!-- end: page -->

                <!-- Vendor -->
            <script src="@routes.Assets.versioned("backend/vendor/jquery/jquery.js")"></script>
            <script src="@routes.Assets.versioned("backend/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
            <script src="@routes.Assets.versioned("backend/vendor/bootstrap/js/bootstrap.js")"></script>
            <script src="@routes.Assets.versioned("backend/vendor/nanoscroller/nanoscroller.js")"></script>
            <script src="@routes.Assets.versioned("backend/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
            <script src="@routes.Assets.versioned("backend/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
            <script src="@routes.Assets.versioned("backend/vendor/jquery-placeholder/jquery-placeholder.js")"></script>

                <!-- Theme Base, Components and Settings -->
            <script src="@routes.Assets.versioned("backend/javascripts/theme.js")"></script>

                <!-- Theme Custom -->
            <script src="@routes.Assets.versioned("backend/javascripts/theme.custom.js")"></script>

                <!-- Theme Initialization Files -->
            <script src="@routes.Assets.versioned("backend/javascripts/theme.init.js")"></script>

        </body>
    </html>

}