        <!-- Vendor -->
        <script src="@routes.Assets.versioned("admin/vendor/jquery/jquery.js")"></script>
                <script src="@routes.Assets.versioned("admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
        <script src="@routes.Assets.versioned("admin/vendor/bootstrap/js/bootstrap.js")"></script>
                <script src="@routes.Assets.versioned("admin/vendor/nanoscroller/nanoscroller.js")"></script>
        <script src="@routes.Assets.versioned("admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
                <script src="@routes.Assets.versioned("admin/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
        <script src="@routes.Assets.versioned("admin/vendor/jquery-placeholder/jquery-placeholder.js")"></script>

                <!-- Theme Base, Components and Settings -->
                <script src="@routes.Assets.versioned("admin/javascripts/theme.js")"></script>

        <!-- Theme Custom -->
        <script src="@routes.Assets.versioned("admin/javascripts/theme.custom.js")"></script>

		<!-- Theme Initialization Files -->
		<script src="@routes.Assets.versioned("admin/javascripts/theme.init.js")"></script>