<!-- Vendor -->
<script src="@routes.Assets.versioned("admin/vendor/jquery/jquery.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap/js/bootstrap.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/nanoscroller/nanoscroller.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-placeholder/jquery-placeholder.js")"></script>

<!-- Specific Page Vendor -->
<script src="@routes.Assets.versioned("admin/vendor/select2/js/select2.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-datatables/media/js/jquery.dataTables.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-datatables-bs3/assets/js/datatables.js")"></script>

<!-- Theme Base, Components and Settings -->
<script src="@routes.Assets.versioned("admin/javascripts/theme.js")"></script>

<!-- Theme Custom -->
<script src="@routes.Assets.versioned("admin/javascripts/theme.custom.js")"></script>

<!-- Theme Initialization Files -->
<script src="@routes.Assets.versioned("admin/javascripts/theme.init.js")"></script>

<!-- Examples -->
<script src="@routes.Assets.versioned("admin/javascripts/tables/examples.datatables.default.js")"></script>
<script src="@routes.Assets.versioned("admin/javascripts/tables/examples.datatables.row.with.details.js")"></script>
<script src="@routes.Assets.versioned("admin/javascripts/tables/examples.datatables.tabletools.js")"></script>